.App {
  width: 100%;
  margin: 0 auto;
  background-image: url(http://desarrollolibre.net/public/images/example/css/71/clouds.png), url(http://desarrollolibre.net/public/images/example/css/71/clouds.png), url(http://desarrollolibre.net/public/images/example/css/71/clouds.png);
  animation: animated 4s linear infinite;
  -webkit-animation: animated 4s linear infinite;
  width: 700px;
  max-width: 90%;
  height: 690px;  
}

@keyframes animated {
  0%   {background-position: 100px 120px,-400px 10px, 0 0;}
50%  {background-position: 100px 100px, -400px 10px, 50% 0;}
100% {background-position: 100px 120px, 700px 10px, 100% 0;}
}

@-webkit-keyframes animated {

  0%   {background-position: 100px 120px,-400px 10px, 0 0;}
50%  {background-position: 100px 100px, -400px 10px, 50% 0;}
100% {background-position: 100px 120px, 700px 10px, 100% 0;}


}
.Content {
  background-image: url(http://desarrollolibre.net/public/images/example/css/71/clouds.png), url(http://desarrollolibre.net/public/images/example/css/71/clouds.png), url(http://desarrollolibre.net/public/images/example/css/71/clouds.png);  
  animation: animated 4s linear infinite;
-webkit-animation: animated 4s linear infinite;
  margin: 0 auto;  
}

